*
{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 10px;

}
.header {
  height: auto;
  padding: 10px;
}
.header h1 {
   background-color: #6c6acd;
    color: white;
  font-size: 26px;
  padding: 10px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3f50;
  padding: 10px 20px;
  border-radius: 10px;
}

.logo {
  font-size: 24px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}
.nav-links li a.active {
  /* font-weight: bold; */
  color: #358ac5;
}

.nav-links li a:hover {
  color: #ddd;
}

.navbar button {
  background-color: #3498dc;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.navbar button:hover {
  background-color: #4438e6;
}
