*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header {
  height: auto;
  padding: 10px;


}
.header h1  {
   background-color: #5549f7;
    color: white;
  font-size: 26px;
  padding: 10px;
}
.header p {
   background-color: #5549f7;
    color: white;
  padding: 10px;
}
.product-card {
    width: 300px;
  margin: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;


}
.product-card img {
    width: 300px;
  object-fit: cover;

}
.product-card .product-title {
    font-size: 24px;
    margin-bottom: 3px;
    padding: 10px;
}
.product-card .product-price {
  color: #4CAF50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  padding: 8px;
}

.product-card .original-price {
  font-size: 16px;
  color: #808080;
  text-decoration: line-through;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
}
.product-card .buy-button {
    background-color: #5549f7;
    color: whitesmoke;
    border: none;
    width: 95%;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    margin:  5px 7px 15px 7px;
}
