* {
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.header {
    background-color: #667ee9;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.profile-card {
    background-color: white;
    width: 300px;
    height: 500px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 4px solid #667ee9;
}

.name {
    font-size: 25px;
    margin-bottom: 11px;
}

.bio {
    color: #777;
    font-size: 20px;
    margin-bottom: 17px;
}

.description {
    font-size: 13px;
    color: #555;
    margin-bottom: 27px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 20px;
}

.stat-item {
    text-align: center;
}

.stat-item h5 {
    font-size: 17px;
    color: #667ee9;
    margin: 0;
}

.stat-item h6 {
    font-size: 15px;
    color: #777;
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
