* {
    margin: 0;
    box-sizing: border-box;
    padding: 2px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.header {
    background-color: #667ee9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border-radius: 5px;
    margin: 0;
   align-items: flex-start;

}

.image-item {
    position: relative;
}

.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
    align-items: flex-start;
}

.image-item:hover {
    transform: scale(1);
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    /* background: rgba(0, 0, 0, 0.7); */
    color:  white;
    text-align: left;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.image-item:hover .caption {
    opacity: 1;
}

.image-item:nth-child(1):hover .caption {
    background-image: linear-gradient(to bottom, #fe6a6b, #333);
}

.image-item:nth-child(2):hover .caption {
    background-image: linear-gradient(to bottom, #4dcdc4, #333);
}
.image-item:nth-child(3):hover .caption {
    background-image: linear-gradient(to bottom, #45b7d1, #333);
}
.image-item:nth-child(4):hover .caption {
    background-image: linear-gradient(to bottom, #ffa07a, #333);
}
.image-item:nth-child(5):hover .caption {
    background-image: linear-gradient(to bottom, #97d9c7, #333);
}
.image-item:nth-child(6):hover .caption {
    background-image: linear-gradient(to bottom, #f6b802, #333);
}
.image-item:nth-child(7):hover .caption {
    background-image: linear-gradient(to bottom, #c5456a, #333);
}
.image-item:nth-child(8):hover .caption {
    background-image: linear-gradient(to bottom, #6d5ce7, #333);
}
.image-item:nth-child(9):hover .caption {
    background-image: linear-gradient(to bottom, #02b994, #333);
}
